/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b3e5fc; /* Color de fondo */
    color: #333;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #007bb5; /* Color del texto del logo */
}

.menubar {
    list-style: none;
    display: flex;
    align-items: center;
}

.menubar li {
    margin-left: 20px;
}

.menubar a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menubar a:hover {
    background-color: #000;
    color: #fff;
}


